<launch>
  <arg name="event" default="/dev/input/event7"/>
  <arg name="rumble_topic" default="rumble_message"/>
  <param name="event" type="str" value="$(arg event)"/>
  <node name="joy_rumble_node" pkg="joy_rumble" type="joy_rumble_node">
    <remap from="rumble_message" to="$(arg rumble_topic)"/>
  </node>
</launch>
